.navbar {
  background-color: rgb(41, 43, 44);
  padding: 1.2em 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar ul li {
  flex-basis: 7%;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul li a:hover {
  color: rgb(172, 245, 77);
}
