.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(41, 43, 44);
  padding: 0.8em 0;
}

/* Image logo */
.container-logo {
  display: flex;
  justify-content: center;
  flex-basis: 10%;
}

.container-logo img {
  height: 2em;
  width: 2em;
  cursor: pointer;
}

/* Navbar options */
.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-basis: 90%;
}

.navbar-links li a {
  text-decoration: none;
  margin: 0 3.9em;
}

.navbar-links li a:hover {
  color: #acf54d;
}
